{{ if ne .Params.share false}}
<!-- use font awsome -->
<section class="sns_parent">
  <div class="sns_section">
      <div class="sns_button twitter">
        <a href="http://twitter.com/intent/tweet?url={{ .Permalink }}&text={{ .Title }}" target="_blank" title="ツイートする"><i class="fab fa-twitter"></i></a>
      </div>
      <div class="sns_button mastodon">
        <a href="https://mastoshare.net/post.php?text={{ .Title }}" target="_blank" title="トゥートする"><i class="fab fa-mastodon"></i></a>
      </div>
      <div class="sns_button hatena">
        <a href="http://b.hatena.ne.jp/add?mode=confirm&url={{ .Permalink }}&title={{ .Title }}" target="_blank" title="はてブする"><i class="fa fa-hatena"></i></a>
      </div>
      <div class="sns_button pocket">
        <a href="http://getpocket.com/edit?url={{ .Permalink }}&title={{ .Title }}" target="_blank" title="pocketに保存する"><i class="fab fa-get-pocket"></i></a>
      </div>
      <div class="sns_button link">
        <button title="記事のタイトルとURLをコピー" class="share-url" data-clipboard-text="{{ .Title }} {{ .Permalink }}"><i class="fas fa-link"></i></button>
      </div>
  </div>
</section>
{{ end }}

